@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1A1A1A;
  color: white;
}

@keyframes boom {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #2C2C2C;
} */

/* input,
input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-clip: padding-box;
} */


input,
input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

form {
  overflow: hidden;
}

/* body {
  background: #fafafa;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  font-family: sans-serif;
}

.post-form input,
.post-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.post-form button {
  width: 100%;
  padding: 10px;
  background: #0095f6;
  border: none;
  color: white;
  border-radius: 5px;
}

.post {
  border: 1px solid #ddd;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
}

.post img {
  width: 100%;
  border-radius: 10px;
} */
